.messageWrap {
}

.message {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    line-height: 1.5em;
    position: relative;
}

.notFromRussia {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.messageDetailed {
    display: none;
    min-width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--base-white);
    padding: 15px 10px 10px;
    box-shadow: 0 0 10px 2px var(--ex-light-grey);
}

.notFromRussia:hover {
    text-decoration: none;
}

.messageDetailed a {
    text-decoration: underline;
}

.messageDetailed a:hover {
    text-decoration: none;
    color: var(--orange);
}

.messageVisible {
    display: block;
}

.crossWrap {
    position: absolute;
    right: -2px;
    top: -2px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scale(0.6, 0.6);
    cursor: pointer;
    transition: 0.15s all ease;
}

.crossWrap:hover {
    background-color: var(--ex-light-beige);
}

@media screen and (max-width: 991px) {
    .messageWrap {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .message,
    .messageDetailed {
        width: 100%;
    }
}
