.cartWrap {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--base-white);
    width: 70%;
}

.itemWrap {
    border-bottom: 1px solid var(--light-beige2);
    padding: 15px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

/*.itemWrap:nth-child(odd) {*/
/*    background-color: white;*/
/*}*/

.itemWrap:last-child {
    border-bottom: none;
}

.itemWrap img {
    width: 120px;
}

.itemWrapGratis {
    background-color: var(--ex-light-green);
}

.itemInfoWrap {
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-items: end;
    gap: 40px;
    width: 100%;
}

.subtitle {
    margin-top: 5px;
}

.sumInfo {
    margin-top: 20px;
    font-size: 1.1em;
}

.fewOnes {
    display: inline;
}

.donationInputWrap {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.itemManagerWrap {
    display: flex;
    gap: 20px;
}

.gratisAddPhrase {
    margin-bottom: 5px;
}

.inputError {
    font-size: 0.75em;
    color: var(--orange);
    height: 11px;
}

.totalSum {
    padding: 20px 25px;
    font-size: 1.15em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.payButton {
    background-color: var(--base-blue);
    opacity: 0.75;
    padding: 7px 12px;
    color: var(--base-white);
    transition: 0.15s all ease;
    cursor: pointer;
}

.payButton:hover {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .cartWrap {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
    .cartWrap {
        width: 95%;
    }
    .itemInfoWrap {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .cartWrap {
        width: 100%;
    }
    .cartWrap img.gratisImage {
        width: 80px;
    }
}

@media screen and (max-width: 700px) {
    .cartWrap img.gratisImage {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .itemWrap {
        align-items: flex-start;
    }
    .itemInfoWrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .totalSum {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    .itemWrap {
        padding: 15px 0;
    }
    .itemWrap img {
        width: 100px;
    }
}

@media screen and (max-width: 360px) {
    .fewOnes {
        display: block;
        width: fit-content;
        padding-bottom: 1px;
        border-bottom: 1px solid var(--ex-light-grey);
    }
    .separator {
        display: none;
    }
}
