.footerWrap {
    padding: 0 0 30px;
    font-size: 0.95em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footerDesktop {
    display: none;
}

.footerMobile {
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.otherItems {
    width: 100%;
    background-color: var(--blue);
    color: var(--base-white);
    padding: 7px 10px;
    font-size: 1.1em;
    user-select: none;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.footerSubMenuWrap {
    background-color: var(--blue);
    color: var(--base-white);
    width: 180px;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
}

.footerSubMenuTitle {
    font-size: 1.1em;
}

.aboutPaymentWrap {
    margin: 0 auto 15px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .footerWrap {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 991px) {
    .footerWrap {
        width: calc(100% - 30px);
    }
    .footerDesktop {
        display: block;
    }
}

@media screen and (max-width: 820px) {
    .footerDesktop {
        display: none;
    }
    .footerMobile {
        display: flex;
    }
}

@media screen and (max-width: 640px) {
    .footerSubMenuWrap {
        width: 148px;
    }
    .footerMobile {
        /*justify-content: space-between;*/
    }
}

@media screen and (max-width: 480px) {
    .footerNewBookLink {
        display: none;
    }

    .footerSubMenuWrap {
        width: 150px;
    }
}
