.topNoticeWrap {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: var(--base-white);
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    margin-bottom: 55px;
}

@media screen and (max-width: 991px) {
    .topNoticeWrap {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 480px) {
    .topNoticeWrap {
        height: 50px;
        padding: 0 15px;
    }
}
