.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: calc(50% - 600px);
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 28px;
    background-color: var(--base-bg);
}

.mainSiteLink {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.1em;
    color: var(--semi-dark-grey);
}

.mainSiteLink:hover {
    color: var(--orange);
}

.basketInfoWrap {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.basketInfo {
    margin-top: 0;
    padding: 10px 10px 7px;
    min-width: 310px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--ex-light-yellow);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid var(--light-beige);
    opacity: 1;
    transition: 1s all ease;
}

.basketInfoOutside {
    margin-top: -45px;
    opacity: 0;
}

.positions {
    font-weight: 600;
    color: var(--orange);
}

.totalSumBox {
    width: max-content;
    background-color: var(--orange);
    padding: 1px 7px;
    border-radius: 10px;
    color: var(--base-white);
}

.navbarWrap {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    font-weight: 400;
    font-size: 1.1em;
    gap: 10px;
}
.navbarItem {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--base-blue);
    transition: 0.1s all ease;
}

.navbarItem:hover {
    color: var(--orange);
}

.navbarItemActive {
    color: var(--orange);
    font-weight: 500;
}

.navbarItemWrap {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1200px) {
    .header {
        left: calc(50% - 500px);
        width: 1000px;
    }
    .navbarWrap {
        font-size: .95em;
    }
}

@media screen and (max-width: 991px) {
    .navbarWrap {
        display: none;
    }

    .header {
        width: 100%;
        left: 0;
        padding-bottom: 10px;
    }
}