.cardsWrap {
    display: flex;
    max-width: 1200px;
    margin: 40px 0;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 30px;
}

.cardWrap {
    width: 22%;
    background-color: var(--base-white-color);
    border: 1px solid var(--light-beige-color);
    border-radius: 5px;
    line-height: 1.2em;
    padding: 10px;
}

.cardWrap img {
    width: 100%;
    border: 1px solid var(--ex-light-grey-color);
    border-radius: 3px;
}

.itemName {
    font-weight: 500;
}

.itemPrice {
    font-weight: 500;
    text-align: right;
}

.itemYear {
    font-style: italic;
    font-size: 0.8em;
}

.forCartWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px;
}

.amountManagerWrap {
    display: flex;
    gap: 7px;
    align-items: center;
    width: fit-content;
}

.amount {
    font-weight: 500;
}

.managerButton {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--ex-light-grey-color);
    transition: all 0.2s ease;
    user-select: none;
}

.managerButton:hover {
    background-color: var(--ex-light-beige-color);
}

.managerButton:active {
    background-color: var(--light-grey-color);
}

.offer {
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--light-beige-color);
    padding: 0 10px;
    font-size: 0.85em;
    background-color: var(--light-yellow);
    user-select: none;
}

.offerSubmited {
    background-color: var(--light-green);
    cursor: default;
}

.unavailable {
    background-color: var(--unavailable);
    cursor: default;
}
