.cardWrap {
    width: 23%;
    background-color: var(--base-white);
    border: 1px solid var(--semi-beige);
    border-radius: 5px;
    line-height: 1.2em;
    padding: 10px;
}

.bookCardWrap {
    width: 70%;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.cardWrap img {
    user-select: none;
}

.bookItemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.shotDescr {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 5px 0;
}

.forCartWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 10px;
}

.bookForCartWrap {
    justify-content: left;
    gap: 25px;
}

.addButton {
    min-height: 25px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--light-beige);
    padding: 0 10px;
    font-size: 0.85em;
    user-select: none;
    background-color: var(--ex-light-yellow);
    transition: 0.2s all ease;
}

.addButton:hover {
    background-color: var(--light-yellow);
    border: 1px solid var(--light-orange);
}

.successButton {
    background-color: var(--light-green);
    cursor: default;
}

.successButton:hover {
    background-color: var(--light-green);
    border: 1px solid var(--light-beige);
}

.inactiveButton {
    background-color: var(--disabled);
    cursor: default;
}

.inactiveButton:hover {
    background-color: var(--disabled);
    border: 1px solid var(--light-beige);
}

.priceInputWrap {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 15px;
    font-weight: 500;
}

.bookPriceInputWrap {
    color: blueviolet;
}

.prefix {
    min-width: 18px;
}

.inputError {
    font-size: 0.75em;
    color: var(--orange);
    height: 10px;
}
