.newBookPrologueWrap {
    width: 65%;
    margin: 40px auto 0;
    border-top: 1px solid var(--light-orange);
    border-bottom: 1px solid var(--light-orange);
    padding: 15px;
    text-align: center;
}

.newBookPrologueWrap p {
    margin-bottom: 3px;
}

@media screen and (max-width: 1200px) {
       .newBookPrologueWrap {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
      .newBookPrologueWrap {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
       .newBookPrologueWrap {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
       .newBookPrologueWrap {
        width: 100%;
           padding: 10px;
    }
}