.newBookPrologueWrap {
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid var(--light-orange);
    padding: 20px 15px;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .newBookPrologueWrap {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
    .newBookPrologueWrap {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .newBookPrologueWrap {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .newBookPrologueWrap {
        width: 100%;
        padding: 10px 0;
    }
}
