.crossWrapCircle {
    position: absolute;
    top: -30px;
    right: -30px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    border: 2px solid var(--semi-dark-grey);
    transition: .1s all ease;
    cursor: pointer;
    opacity: .8;
}

.crossWrapCircle:hover {
    opacity: 1;
}

.crossWrap {
    width: 30px;
    height: 30px;
    transform: scale(0.7, 0.7);
}