@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root {
    --base: #111;
    --base-bg: #fffff3;
    --base-white: #fffffa;
    --base-blue: #00758c;
    --ex-light-grey: #e5e2cf;
    --light-grey: #bfbfbf;
    --semi-grey: #999;
    --dark-grey: #444;
    --ex-light-beige: #f5f5e9;
    --light-beige: #e0e0d1;
    --light-beige2: #ebebdd;
    --semi-beige: #d4d4c6;
    --ex-light-yellow: #ffffe5;
    --light-yellow: #f7f7d3;
    --light-green: #d5f2cb;
    --ex-light-green: #f5fff2;
    --semi-green: #82d982;
    --green: #008040;
    --disabled: #f7f7f7;
    --light-orange: #ffd580;
    --semi-orange: #ffb042;
    --orange: #ee7700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: var(--base);
    background-color: var(--base-bg);
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

textarea,
button,
input,
select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.no_wrap {
    white-space: nowrap;
}

.fw300 {
    font-weight: 300;
}
.fw400 {
    font-weight: 400;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.fw700 {
    font-weight: 700;
}

.container {
    padding: 0 0 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.itemName {
    font-family: 'Marmelad', sans-serif;
}

.itemYear {
    font-style: italic;
    font-size: 0.8em;
    color: var(--semi-grey);
    margin-left: 3px;
}

.baseBlue {
    color: var(--base-blue);
}