.inclinedLineOne {
    width: 2px;
    background-color: var(--semi-dark-grey);
    height: 100%;
    margin: 0 auto;
    transform: rotate(-45deg);
}

.inclinedLineTwo {
    margin: 0 auto;
    width: 2px;
    background-color: var(--semi-dark-grey);
    height: 100%;
    transform: rotate(45deg);
    margin-top: -30px;
}